*{
    margin: 20;
    padding: 20;
}

#dv{
    text-align: center
}

#p{
    font-size: 5em;
}

#btn{
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: rgb(219, 103, 219);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(218, 21, 218);
}