
body{
    background-color: azure;
}

#todo-list{
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backgrouns-color 0.5s ease;
}

#add-btn{
    background-color: rgb(6, 180, 6);
}

#delete-btn{
    background-color: rgb(239, 54, 54);
}

#move-btn{
    background-color: rgb(34, 184, 230);
}

input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(243, 231, 231);
    margin-bottom: 10px;
    border: 3px solid purple;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#text{
    flex: 1;
}

#delete-btn, #move-btn{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}